PORT=5000
MONGO_URI=

# ZynlePay
MERCHANT_ID=
API_ID=
API_KEY=
PAYMENT_URL=
callbackURl=

# Nsano
NSANO_API_KEY=
NSANO_API_ENDPOINT=

# Paystack
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_CALLBACK_URL=
PAYSTACK_CURRENCY=GHS
PAYSTACK_MTN_BANK_CODE=
PAYSTACK_AIRTEL_BANK_CODE=
PAYSTACK_ZAMTEL_BANK_CODE=
